/* Dashboard */
.bodyDashboard{
    background: white;
    width: 100%;
    padding:25px;
    border-radius:20px;
    overflow: auto;
}

.headerDashboard{
    background: white;
    width: 100%;
    padding:10px;
    border-radius:20px;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}

/*Div Listas*/
.headerTable{
    float: right;
    width: 100%;
}

.headerTable a{
    float: right;
}

.tableList{
    margin-top:15px
}

/*Botoes*/
.btnActions{
    font-size:12px;
    padding:5px !important;
    width: 50px;
}
.btnNew{
    font-size:25px;
    font-weight: bold;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

/*Classes globais*/
.alignCenter{
    text-align: center;
}

.is-invalid{
    border-color: red !important;
}

.marginTop{
    margin-top:20px;
}